In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('../data/Ticket Data.txt')

In [15]:
df.to_csv('../data/Ticket Data.txt', index=False, header=True)

In [17]:
data = pd.read_csv('../data/Ticket Data.csv')

In [18]:
data.head()

,ORDER_NUMBER,ORDER_ID,ORDER_UNIT_ID,ACCEPTANCE_TIME,COMPLETION_TIME,CUSTOMER_NUMBER,CUSTOMER_COUNT,ORDER_TYPE,ORDER_CLASS,PROCESSING_STATUS,...,PROCESSING_END_TIME_MINIMUM,ACCEPTANCE_TIME_MINIMUM,ASSIGNMENT_TIME_MINIMUM,IMIL_TIME_MINIMUM,CUSTOMER_TIME_MINIMUM,START_TIME_MINIMUM,ASSIGNMENT_TIME,ASSIGNED_BY_NAME,ASSIGNMENT_PROCESSING_STATUS,ASSIGNMENT_ADDITIONAL_INFO
0,001-0671177/24,114680574,NaN,11/05/2024 11:00,11/05/2024 11:30,123,3,Short Ticket,SK,Completed,...,11/05/2024 11:00,11/05/2024 11:00,NaN,NaN,11/05/2024 11:00,NaN,NaN,NaN,NaN,NaN
1,001-0682295/24,114691514,NaN,11/05/2024 13:00,11/05/2024 13:45,123,3,Short Ticket,SK,Completed,...,11/05/2024 13:00,11/05/2024 13:00,NaN,NaN,11/05/2024 13:00,NaN,NaN,NaN,NaN,NaN
2,001-0670952/24,114680352,NaN,11/06/2024 08:00,11/06/2024 08:30,123,3,Short Ticket,SK,Completed,...,11/06/2024 08:00,11/06/2024 08:00,NaN,NaN,11/06/2024 08:00,NaN,NaN,NaN,NaN,NaN
3,001-0671369/24,114680756,NaN,11/06/2024 10:00,11/06/2024 10:15,123,3,Short Ticket,SK,Completed,...,11/06/2024 10:00,11/06/2024 10:00,NaN,NaN,11/06/2024 10:00,NaN,NaN,NaN,NaN,NaN
4,001-0670929/24,114680329,NaN,11/06/2024 12:00,11/06/2024 13:00,123,3,Task,SK,Completed,...,11/06/2024 12:00,11/06/2024 12:00,NaN,NaN,11/06/2024 12:00,NaN,NaN,NaN,NaN,NaN

In [19]:
data.columns

Index(['ORDER_NUMBER', 'ORDER_ID', 'ORDER_UNIT_ID', 'ACCEPTANCE_TIME',
       'COMPLETION_TIME', 'CUSTOMER_NUMBER', 'CUSTOMER_COUNT', 'ORDER_TYPE',
       'ORDER_CLASS', 'PROCESSING_STATUS', 'SERVICE_CATEGORY',
       'ORDER_DESCRIPTION_1', 'ORDER_DESCRIPTION_2',
       'ORDER_DESCRIPTION_3_MAXIMUM', 'ADDITIONAL_ORDER_DESCRIPTION_MAXIMUM',
       'NOTE_MAXIMUM', 'PLANNING_GROUP_KB', 'COMPLETION_RESULT_KB',
       'REFERENCE_COMPLETION_RESULT', 'COMPLETION_NOTE_MAXIMUM',
       'NETWORK_LEVEL', 'CAUSE', 'REFERENCE_ERROR_CAUSE', 'SERVICE_PROVIDER',
       'REFERENCE_SERVICE_PROVIDER', 'SUBUNIT_NAME',
       'CUSTOMER_COMPLETION_TIME', 'PROCESSING_END_TIME_MAXIMUM',
       'PROCESSING_END_TIME_MINIMUM', 'ACCEPTANCE_TIME_MINIMUM',
       'ASSIGNMENT_TIME_MINIMUM', 'IMIL_TIME_MINIMUM', 'CUSTOMER_TIME_MINIMUM',
       'START_TIME_MINIMUM', 'ASSIGNMENT_TIME', 'ASSIGNED_BY_NAME',
       'ASSIGNMENT_PROCESSING_STATUS', 'ASSIGNMENT_ADDITIONAL_INFO'],
      dtype='object')

In [20]:
data.shape

(42, 38)

In [21]:
data['SERVICE_CATEGORY'].head()

0    HDW
1    NTF
2    HDW
3    HDW
4    SOP
Name: SERVICE_CATEGORY, dtype: object

In [22]:
data['CUSTOMER_NUMBER'].unique()

array([123, 456, 789], dtype=int64)

In [23]:
data.groupby('CUSTOMER_NUMBER').size()

CUSTOMER_NUMBER
123    14
456    14
789    14
dtype: int64

In [24]:
data['CUSTOMER_COUNT'].unique()

array([3, 4, 2], dtype=int64)

In [25]:
data[data['CUSTOMER_NUMBER'] == 123]['CUSTOMER_COUNT'].unique()

array([3], dtype=int64)

In [26]:
data[data['CUSTOMER_NUMBER'] == 456]['CUSTOMER_COUNT'].unique()

array([4], dtype=int64)

In [27]:
data[data['CUSTOMER_NUMBER'] == 789]['CUSTOMER_COUNT'].unique()

array([2], dtype=int64)

In [28]:
data[data['CUSTOMER_NUMBER'] == 123]['SERVICE_CATEGORY'].unique()

array(['HDW', 'NTF', 'SOP', 'NET', 'KAI', 'KAV', 'GIGA', 'VOD', 'KAD'],
      dtype=object)

**Note**
- I'm not sure but i thought that customer number is the identifier of customer, although the identifier will actually not be just such a simple number, but that would make me adapt these thoughts:
    - the tickets belong to **three** different customers, each one applied for 14 tickets
    - and should to tell the story of what happened for each customer of those three per category, If i understand well.
- But during the reading of task file, i read that this data is related to a specific customer, so i supposed that all tickets belong to one customer. And for sure the customer number and count have a description which i have no idea about.

In [29]:
data['ORDER_CLASS'].unique()

array(['SK'], dtype=object)

## **Preproccessing**

In [30]:
filtered_data = data.copy()

In [31]:
filtered_data = filtered_data[filtered_data['SERVICE_CATEGORY'].isin(['HDW', 'NET', 'KAI', 'KAV', 'GIGA', 'VOD', 'KAD'])]

In [32]:
filtered_data.shape

(32, 38)

In [33]:
filtered_data['SERVICE_CATEGORY'].head()

0    HDW
2    HDW
3    HDW
6    HDW
8    HDW
Name: SERVICE_CATEGORY, dtype: object

In [34]:
category_product_mapper = {
    'KAI': 'Broadband',
    'NET': 'Broadband',
    'KAV': 'Voice',
    'KAD': 'TV',
    'GIGA': 'GIGA',
    'VOD': 'VOD',
    'HDW': 'Hardware'
}

In [35]:
filtered_data['PRODUCT'] = filtered_data['SERVICE_CATEGORY'].map(category_product_mapper)

In [36]:
print(filtered_data['SERVICE_CATEGORY'].unique())

['HDW' 'NET' 'KAI' 'KAV' 'GIGA' 'VOD' 'KAD']

In [37]:
print(filtered_data['PRODUCT'].unique())

['Hardware' 'Broadband' 'Voice' 'GIGA' 'VOD' 'TV']

In [40]:
filtered_data.head(10)

,ORDER_NUMBER,ORDER_ID,ORDER_UNIT_ID,ACCEPTANCE_TIME,COMPLETION_TIME,CUSTOMER_NUMBER,CUSTOMER_COUNT,ORDER_TYPE,ORDER_CLASS,PROCESSING_STATUS,...,ACCEPTANCE_TIME_MINIMUM,ASSIGNMENT_TIME_MINIMUM,IMIL_TIME_MINIMUM,CUSTOMER_TIME_MINIMUM,START_TIME_MINIMUM,ASSIGNMENT_TIME,ASSIGNED_BY_NAME,ASSIGNMENT_PROCESSING_STATUS,ASSIGNMENT_ADDITIONAL_INFO,PRODUCT
0,001-0671177/24,114680574,NaN,11/05/2024 11:00,11/05/2024 11:30,123,3,Short Ticket,SK,Completed,...,11/05/2024 11:00,NaN,NaN,11/05/2024 11:00,NaN,NaN,NaN,NaN,NaN,Hardware
2,001-0670952/24,114680352,NaN,11/06/2024 08:00,11/06/2024 08:30,123,3,Short Ticket,SK,Completed,...,11/06/2024 08:00,NaN,NaN,11/06/2024 08:00,NaN,NaN,NaN,NaN,NaN,Hardware
3,001-0671369/24,114680756,NaN,11/06/2024 10:00,11/06/2024 10:15,123,3,Short Ticket,SK,Completed,...,11/06/2024 10:00,NaN,NaN,11/06/2024 10:00,NaN,NaN,NaN,NaN,NaN,Hardware
6,001-0671178/24,114680575,NaN,11/07/2024 11:00,11/07/2024 11:30,123,3,Short Ticket,SK,Completed,...,11/07/2024 11:00,NaN,NaN,11/07/2024 11:00,NaN,NaN,NaN,NaN,NaN,Hardware
8,001-0670953/24,114680353,NaN,11/08/2024 10:00,11/08/2024 10:30,456,4,Short Ticket,SK,Completed,...,11/08/2024 10:00,NaN,NaN,11/08/2024 10:00,NaN,NaN,NaN,NaN,NaN,Hardware
9,001-0671370/24,114680757,NaN,11/08/2024 12:00,11/08/2024 12:15,456,4,Short Ticket,SK,Completed,...,11/08/2024 12:00,NaN,NaN,11/08/2024 12:00,NaN,NaN,NaN,NaN,NaN,Hardware
12,001-0671179/24,114680576,NaN,11/09/2024 11:00,11/09/2024 11:30,456,4,Short Ticket,SK,Completed,...,11/09/2024 11:00,NaN,NaN,11/09/2024 11:00,NaN,NaN,NaN,NaN,NaN,Hardware
14,001-0671180/24,114680577,NaN,11/10/2024 11:00,11/10/2024 11:30,789,2,Short Ticket,SK,Completed,...,11/10/2024 11:00,NaN,NaN,11/10/2024 11:00,NaN,NaN,NaN,NaN,NaN,Hardware
16,001-0670954/24,114680354,NaN,11/11/2024 08:00,11/11/2024 08:30,789,2,Short Ticket,SK,Completed,...,11/11/2024 08:00,NaN,NaN,11/11/2024 08:00,NaN,NaN,NaN,NaN,NaN,Hardware
17,001-0671371/24,114680758,NaN,11/11/2024 10:00,11/11/2024 10:15,789,2,Short Ticket,SK,Completed,...,11/11/2024 10:00,NaN,NaN,11/11/2024 10:00,NaN,NaN,NaN,NaN,NaN,Hardware

## **EDA**

#### **Number of Tickets per Product**
- I'm trying to detect the product or category with highest number of tickets (that means highest number of promblems)

In [ ]:
filtered_data['ORDER_DESCRIPTION_1'].value_counts().sort_values(ascending=False)

ORDER_DESCRIPTION_1
Cable Router       13
Internet            3
Gigabit Option      3
Video on Demand     2
Smartcard           2
HD Channel          2
Kabelrouter         1
CI-Modul            1
Sender              1
Kundenportal        1
Movies              1
Password            1
Customer Portal     1
Name: count, dtype: int64

In [42]:
filtered_data['ORDER_DESCRIPTION_2'].value_counts().sort_values(ascending=False)

ORDER_DESCRIPTION_2
WLAN                          10
Internet                       3
kein Empfang                   2
kein Zugriff                   2
Not Booked                     1
langsam                        1
Aktivierung fehlgeschlagen     1
Slow                           1
Not Recognized                 1
Blurred                        1
Stuttering                     1
Connection Unstable            1
No Internet                    1
No Access                      1
Artifacts                      1
Activation Delayed             1
Error Message                  1
Forgotten                      1
Invoice Problem                1
Name: count, dtype: int64

In [45]:
filtered_data[filtered_data['ORDER_DESCRIPTION_3_MAXIMUM'].str.lower() != 'stable']['ORDER_DESCRIPTION_1'].value_counts().sort_values(ascending=False)

ORDER_DESCRIPTION_1
Cable Router       11
Internet            3
Gigabit Option      3
Video on Demand     2
Smartcard           2
HD Channel          2
Kabelrouter         1
CI-Modul            1
Sender              1
Kundenportal        1
Movies              1
Password            1
Customer Portal     1
Name: count, dtype: int64

**Note**
- Retrieved data shows many tickets with Cable Router products' issues, particularly with WLAN functionality
- Multiple tickets indicate persistent WLAN connectivity problems

**Recommendations**
- I think the company should test the cabel router product.
- If it was a hardware related issue
    - Start to solve this hardware issue, abd release an new version of those routers
    - For the users' effected, suggest to buy new released routers (for trust and non blams by the users, says "that you as a company released new routers in the market with a strong specs, and beacuse you are an old customer, you can get it with the half of money and you can pay in installments over ... months.") or if the company can bear the cost, it will be good to provide total free replacement.
    - For the new customers that will buy the router, for sure the compny should to sell the new free-issues version
- If it was non hardware issue that catched:
    - Start to soving this issue.
    - And advice the customer to use the cable or wired connection till soving this problem (i'm not sure if it's an applicable solution or alternative or it would work also, but i just say what i think according my current background about the issue that i face currently as a customer)